.dropdown-menu-container {
  display: flex;
  align-items: center;
  .dropdown-menu-block {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    padding: 0.5rem;
    margin: 0 1rem 0 0;
    font-size: 1rem;
    font-weight: 600;
    svg {
      margin: 0 0 0.3rem 0.5rem;
    }
    .dropdown-menu-item {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 0.4rem 1rem;
      width: auto;
      height: auto;
      display: none;
      z-index: 3;
      top: 2.3rem;
      left: 0px;
      box-sizing: content-box;
      position: absolute;
      background-color: #fff;
      border-radius: 0.5rem;
      padding: 0.5rem 0;
      ul {
        li {
          padding: 0.5rem 0.8rem;
          padding-right: 3rem;
          font-weight: 400;
          white-space: nowrap;
          color: #000;
          margin: 0;
          &:hover {
            background-color: #f8f9fa;
          }
        }
      }
    }
    &:hover {
      .dropdown-menu-item {
        display: block;
      }
    }
    &:last-child {
      margin: 0;
    }
    &.detail {
      &:first-child {
        border-bottom: 4px solid #01b4e4;
      }
    }
  }
}
